# .NET Core
bin/
obj/
out/
*.suo
*.user
*.userosscache
*.cache
*.dll
*.exe
*.pdb
*.nupkg
*.bak
*.tmp
*.pdf
*.log
*.vspscc
*.vssscc
.vs/
# User-specific files
*.rsuser
**/*.user
**/*.[Cc]ache
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/